.base {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.headerContainer {
  position: sticky;
  top: 0;
}

.headerContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainContainer {
  flex-grow: 1;
}

.mainContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
