.container {
  width: 30rem;
  height: 2.5rem;
  border-width: 0.2em;

  border-radius: 0.75rem;
  background-color: var(--color-accent);
}

:is(.container, .containerItems) {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.input {
  width: 100%;
  height: 1.85rem;
  padding-left: 0.5rem;
  font-family: var(--font-family-nunito);
  font-size: var(--font-size-primary);
  border-width: 0.3rem;
  border-radius: 0.75rem;
  border-style: solid;
  border-color: var(--color-accent);
}

.input:focus {
  outline: 0;
}
