.container {
  width: auto;
  height: auto;

  display: flex;
  align-items: start;
  padding: 2em;
  margin-top: 2em;
  background-color: var(--color-light);
  border-radius: 2rem;
}

.filterContainer {
  padding-right: 2em;
}
